# 문제 
- 1. f4 컬럼에 FJ가 포함된 데이터찾기
- 2. 1중에서 f2 컬럼 평균값 구하기 (반올림 후 소수 둘째자리까지 계산)

## 오답 
- 문자열슬라이싱 -> str[]

In [1]:
import pandas as pd
df = pd.read_csv("../data/type1_data1.csv")

df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

In [2]:
#1. 
df =df[df['f4'].str[2:4] == 'FJ']
df

        id   age city     f1  f2      f3    f4         f5  subscribed    views
0     id01   2.0   서울    NaN   0    gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02   9.0   서울   70.0   1     NaN  ENFJ  60.339826  2024-05-12   2534.0
4     id05  24.0   서울   85.0   2     NaN  ISFJ  29.269869  2024-03-07   1338.0
6     id07  36.3   서울   60.0   1     NaN  ISFJ   9.796378  2024-01-11     61.0
7     id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
8     id09   3.3   서울   35.0   2     NaN  ESFJ  17.252986  2024-03-21   2764.0
13    id13  15.0   서울   68.0   0    gold  ESFJ  83.685380  2024-12-30   5643.0
18    id18  41.0   서울   87.0   2    gold  ISFJ  80.138280  2024-03-03   7933.0
24    id24  80.0   부산   44.0   0    gold  INFJ  73.586397  2024-09-11   5976.0
31    id31  86.0   부산   77.0   0    gold  ESFJ  73.586397  2024-02-11   8014.0
32    id32  25.0   부산   64.0   0     vip  ISFJ  13.049921  2024-05-24  17421.0
33    id33  47.0   부산   94.0   0  silver  ENFJ  17.252986  2024-04-02   3880.0
39    id39  56.0   부산   50.0   0     NaN  INFJ  33.308999  2024-12-22      NaN
41    id41  81.0   대구   55.0   0    gold  ENFJ  37.113739  2024-10-04   8640.0
45    id45  97.0   대구   88.0   0    gold  ENFJ  13.049921  2024-06-21   8317.0
52    id52  97.0   대구   82.0   1    gold  ISFJ  90.496999  2024-05-20   8518.0
54    id54  53.0   대구    NaN   1    gold  ENFJ  69.730313  2024-06-21   5872.0
57    id57   3.0   대구  111.0   0  silver  ISFJ  29.269869  2024-01-12   4421.0
59    id59  64.0   대구    NaN   1  silver  ESFJ  20.129444  2024-06-23   4994.0
63    id63  88.0   경기   86.0   1  silver  ISFJ  73.586397  2024-12-01   4053.0
67    id67  66.0   경기   52.0   1     NaN  ISFJ  73.586397  2024-06-17   1159.0
73    id73  90.0   경기    NaN   1     NaN  ISFJ  73.586397  2024-08-12    512.0
81    id81  86.0   경기   50.0   1     NaN  ISFJ  37.113739  2024-09-14    244.0
85    id85  83.6   경기   55.0   0    gold  INFJ  80.138280  2024-09-24   6719.0
99    id99   1.0   경기   47.0   0    gold  ESFJ  97.381034  2024-12-02   6090.0
105  id104  21.0   서울   13.0   0  silver  ESFJ   0.000000  2025-02-17   4556.0
106  id105  21.0   경기   24.0   0    gold  ESFJ   0.000000  2025-02-17   7654.0
119  id118  24.0   부산   94.0   1     vip  ESFJ   0.000000  2025-02-17   2356.0

In [3]:
2. 
answer = round(df['f2'].mean(),2)

In [4]:
answer

0.61